html, body {
    height: 100%;
	width:100%;
	font-family: helvetica,arial,sans-serif;
	font-size: 13px;
}

body{
	background:url(../img/whitepaper-pattern.jpg) repeat ;
}

a{
	text-decoration: none;
	cursor:pointer;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

a:hover, a:focus {
	text-decoration: none;
}

figure, ul{margin:0; padding:0}
ul, li{list-style: none;}

input[type="text"]{
	height: 34px;
	padding: 0 8px;
	box-sizing: border-box;
	color: #666;
	font-size: 16px;	
	border-radius:4px;
	border:1px solid #ccc;
	outline:none;
	line-height: normal;
}

input[type="text"]:focus{
	border:1px solid #E26A27;
}

input[type="checkbox"]{margin-right:5px;}

hr{border-color:#DDD;margin:20px 3%;}
hr.fancyline {
	border: 0;
	height: 1px;
	background: -webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.2),rgba(0,0,0,0));
	background: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.2),rgba(0,0,0,0));
	background: linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.2),rgba(0,0,0,0));
}
.hideComponent{
	display:none;
}
.textCenter{text-align:center}
.strikeThrough{text-decoration:line-through !important;color:#666 !important;}

.button.copper{
	background: none repeat scroll 0 0 #EF672F;
	box-shadow: inset 0 0 0 0 #c14800;
	color: #ffffff;
	padding: 15px 30px;
	border-radius: 3px;
	font: 15px/15px 'OpenSansBold',sans-serif;
	letter-spacing: 1px;
	text-shadow: none;
    text-transform: uppercase;
    transition: all .7s ease 0s;
	cursor: pointer;
    display: inline-block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	border-width:0;
	position:relative;
}
.button.copper:hover{
	box-shadow:0 100px 0 0 #c14800 inset;
	transition-duration:1s;
}
		
.subHeader{font-size:15px;font-weight:700;}

.inputLabel{font-size:12px;}


/*Overriding Bootstrap  Styles*/
.glyphicon-chevron-left:before, .glyphicon-chevron-right:before{content:"";}
.carousel-control .glyphicon-chevron-left{
	background-image: url(../img/icons/arrow-white-left.png);
	height: 46px;
	width: 46px;
	background-size: contain;
}
.carousel-control .glyphicon-chevron-right{
	background-image: url(../img/icons/arrow-white-right.png);
	height: 46px;
	width: 46px;
	background-size: contain;
}
.carousel-indicators li{width:13px;height:13px;margin: 2px 0;display:block;}
.carousel-indicators .active{background-color: #8AA520;margin:2px 0;width:13px;height:13px;}
.carousel-indicators{
	top: 7%;
	height: 30%;
	right: 0%;
	width: 30px;
	left: inherit;
}
.dropdown-menu {min-width: 250px;}


/* Top header Styles*/
#scrollTopControl{
	position: fixed;
	bottom: 80px; 
	right: 5px; 
	cursor: pointer;
	width:56px;
	height:56px;
	
	background:url(../img/icons/scrolltop.png) no-repeat;
	background-size:contain;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
#scrollTopControl:hover{background-image:url(../img/icons/scrolltop-hover.png);}

.bannerStripe{
	background:url(../img/gray-pattern.png) repeat;
	height:60px;
}
a.logo{
	margin-left:5%;
	margin-top: 3px;
	display: inline-block;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.logo:hover{
	opacity:.5;
	letter-spacing: 2px;
}

.mylogo {
    color: #ccc;
    font-size: 43px;
	letter-spacing: inherit;
}

.shoplogo {
    color: #F0A31A;
    font-size: 44px;
	letter-spacing: 2px;
	font-family: monospace;
}

.quickLinks{
    float: right;
	margin-top: 10px;
    padding: 10px;
    margin-right: 5%;
	min-width:340px;
}

.quickLinks a{
	font-size: 14px;
	color: #B4B3B3;
	padding: 0 0 0 12px;
	vertical-align: middle; /* To prevent all other links from jumping vertically when i hover any link*/
	 
}
.quickLinks a:after{
	content: "";
	border-right: 1px dotted #ccc;
	margin: 0 0 0 12px;
}
.quickLinks a:last-child:after{
	border:none;
}

.quickLinks a:hover{
	color:#E7951A;
}

.quickSearch{
	float: right;
	width: 12%;
	min-width:192px;
	background: url(../img/icons/search.png) no-repeat center center #161616;
	height: 60px;
	line-height: 60px; /* to align textbox and search icon in middle*/
	background-size: 42px;
	cursor:pointer;
	box-sizing: border-box;
	transition: background-color 0.3s ease,
				width .7s ease-out;
}

.quickSearch:not(.active):hover{opacity:.6;}

.quickSearch.active{
	background-color:#333232;
	width:30%;
	background-image:none;
	padding: 0 10px;
}

.searchBox{
	width:75%;
	vertical-align:middle;
}

.icon-search{
	width:36px;
	vertical-align: middle;
	opacity:.7;
}

.close-search{
	width:28px;
	position:absolute;
	top:17px;
	right:15px;
	opacity:.4;
}

.icon-search:hover, .close-search:hover{opacity:1;}

.quickSearch.active .icon-search , .quickSearch.active .searchBox, .quickSearch.active .close-search{
	display: initial;
}

.bannerImage{
	background: url('../img/fashion/web/adidas-1440x196.jpg') no-repeat center top #161616;
	height:196px;
	background-size: cover;
}
.topNav{
	position:relative;
	min-width:700px;
	border-bottom: 1px solid #ccc;
}

.topNavMenu{
	margin: 0 auto;
	width: 40%;
	min-width: 550px;
	text-align: center;
}

.topNavMenu > li{
	display:inline-block;
}
.topNavMenu >li a{
	padding: 10px 30px;
	display: inline-block;
	font-weight: bold;
	font-size:15px;
	color: #474745;
}

.topNavMenu >li a:hover {
	border-bottom: 3px solid #D64C16;
	padding-bottom: 7px;
}
.topNav .actions {
	position: absolute;
	top: 4px;
	right: 11%;
}
.topNav .actions a{
	display: inline-block;
	width:50px;
	height:33px;
}

.topNav .actions a:hover{opacity:.7;}

.topNav .actions .wishlist{
	background: url('../img/icons/favorite.png') center center no-repeat  transparent;
	background-size: 33px;
}

.topNav .actions .cart{
	background: url('../img/icons/Shopping-Cart-icon.png') no-repeat center center transparent;
	background-size: 33px;
}

/* Footer styles start */
.footer-cnt {
background-color: #697071;
width: 100%;
color: #d8e0e1;
text-align: center;
font-size: 13px;
line-height: 19px;
padding-top: 20px;
padding-bottom: 10px;
margin-top: 20px;
}
.footerRow{width:60%;margin:0 auto;}
.largerText{font-size: 20px;margin: 0 10%;line-height: 26px;}
.view-container{margin-top: 30px;}

/* Home page content styles */
.latestCollectionCarousel{
	max-width: 600px;
	height: 450px;
	background:#ccc;
	margin:0 auto;
}

.latestCollectionCarousel .collectionImg{
	width:100%;
	height:450px !important;
}
.carouselSideText{color: #F7AD2A;font-size: 36px;margin:50px 0 0 25%;}
.CarouselSideImage{max-width: 100%;height: auto;margin-top: 55px;}
.fullWidthImage{max-width: 100%;height: auto;margin: 30px 0;}


/* Products Result page styles */
.productsListContainer{padding: 0px 20px;border-left: 1px solid #ccc;}

ul.productsList{padding:10px 0;}

ul.productsList > li{
	display: inline-block;
	background: white;
	margin: 15px 15px 0 0;
	border:1px solid #EBE9E9;
	width:250px;
	vertical-align: top;
}

ul.productsList > li:hover{border-color:#DFA861;}

ul.productsList img.productMainImage{
	width: 100%;
	height:auto;
}

.productBrandName{
	font-weight:bold;
	text-align:center;
	border-top:1px solid #EBE9E9;
}

.productName{text-align:center}

.productPrice{font-weight:bold;text-align:center}

.filterContainer{padding: 0px 30px;}

ul.filterSection {border-top: 1px solid #BBBBBB;}

/* Proudct Detail page styles */
.productDetailOuterContainer{text-align:center;}

.productHeader{color: #444;text-align:center;font-size: 22px;}
.productImagesContainer{
	width:400px;
	padding: 20px 0 10px 0;
	border: 1px dotted #ccc;
	text-align:center;
	display: inline-block;
}

.activeThumnailImage img{max-width:100%;}

.thumbnails-container img {
	width:80px;
	height:auto;
	display: inline-block;
	margin:	5px 5px 0 0;
	border:1px solid transparent;
}
.thumbnails-container img.active, .thumbnails-container img:hover {border:1px solid #D87242;}

.productInfoContainer{display: inline-block;vertical-align: top;padding: 20px;text-align: left;}

.productCode{font-size: 15px;color: #333;}

.productValue{
	color: #202020;
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
}
.productDicount{font-size: 16px;margin-top:15px;}
.productDicount span.discountPerct{font-size: 18px;color: #FC5019}
.productDicount span.ValidTillDate{font-size: 14px;margin-left:20px}
.discountedPrice >span{
	font-size: 15px; 
	color:#C55E3D;
	display: inline-block;
	vertical-align: middle;
}
.discountedTag{background: url(../img/icons/tag.png) transparent;
	background-size: 100%;
	background-repeat: no-repeat;
	width: 160px;
	height: 90px;
	display: inline-block;
	position:relative;
	vertical-align: middle;
}

.discountedTag span.price{
	position: absolute;
	top: 30px;
	left: 10px;
	font-size: 18px;
	color: #DDD045;
	transform: rotate(-6deg);
}

.availableSizes, .availableColors{margin-top:20px;}
.productInfoLabel{font-size: 16px;vertical-align: middle;margin-right: 10px;}


span.sizeBox {
	border-radius: 26px;
	border: 1px solid #ccc;
	margin-right: 5px;
	width: 34px;
	display: inline-block;
	height: 34px;
	text-align: center;
	vertical-align: middle;
	padding-top: 7px;
	background: #888888;
	color: white;
}

span.sizeBox:hover{background: #444;}

span.sizeBox.active {background:#d86316;}

span.colorBox{
	border-radius: 4px;
	margin-right: 5px;
	width: 28px;
	display: inline-block;
	height: 28px;
	vertical-align: middle;
}

span.colorBox.active {border:3px solid #E9B225}

.purchaseButtonContainer{margin-top:50px;}

.deliveryInfoOptions {margin-top:20px;font-size: 12px;}
.deliveryInfoOptions span {margin-right:5px;}
.deliveryInfoOptions span:before{
	content:"";
	width: 27px;
	height: 27px;
	display: inline-block;
	background: url(../img/icons/1409873328_circle-check-64.png) no-repeat;
	background-size:contain;
	vertical-align: middle;
	margin-right: 3px;
}


.checkoutButton:after{
	content: "";
	width: 26px;
	height: 25px;
	display: inline-block;
	background: url(../img/icons/arrow-58-32.png) no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin-left: 3px;
	position: absolute;
	top: 9px;
}
.productDetails{text-align:left;}

