<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
	<h3 class="textCenter mainHeader">New Arrivals - Fall 14<sup>th</sup> Collection </h3>
		<div class="latestCollectionCarousel">
			<carousel interval="carouselInterval">
			  <slide ng-repeat="product in latestCollection" active="slide.active">
				<a href="#/products/latest"><img ng-src="{{product.imageUrl}}" class="collectionImg"></a>
			  </slide>
			</carousel>
		</div>
		<div class="carouselSideText">Don't just follow the trend<br/>Be the trend</div>
    </div>
	<div class="col-md-5">
	<div >
		<img class="CarouselSideImage" src="img/fashion/web/men-fasion.jpg"></img>
	</div>		
	</div>
  </div>
  <hr class="fancyline"/>
  <div class="row">
	  <div class="col-md-12 textCenter">
	  <h3 class="textCenter mainHeader">New Collection for Women</h3>
	  <img class="fullWidthImage" src="img/fashion/web/fashion-women.jpg"></img>
	  </div>
  </div>
</div>

