<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
	<h3 class="textCenter">New Arrivals </h3>
		<div class="latestCollectionCarousel">
			<carousel interval="carouselInterval">
			  <slide ng-repeat="product in latestCollection" active="slide.active">
				<a href="#/products/latest"><img ng-src="{{product.imageUrl}}" class="collectionImg"></a>
			  </slide>
			</carousel>
		</div>
    </div>
	<div class="col-md-5">
		<div class="carouselSideText">Don't just follow the trend<br/>Be the trend</div>	
	</div>
  </div>
</div>

