<div class="container">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <!--<select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>-->

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <!--<ul class="phones">
        <li ng-repeat="product in latestCollection | filter:query" class="thumbnail phone-listing">
          <a href="#/product/{{phone.id}}" class="thumb"><img ng-src="{{product.imageUrl}}"></a>
        </li>
      </ul>-->
	  
	<carousel>
		  <slide ng-repeat="product in latestCollection">
			<img ng-src="{{product.imageUrl}}" style="margin:auto;">
			<div class="carousel-caption">
			  <h4>Slide {{$index}}</h4>
			  <p>{{product.name}}</p>
			</div>
		  </slide>
    </carousel>

    </div>
  </div>
</div>
