<div class="container-fluid">
	<div class="row">
		<div class="col-sm-10 productDetailOuterContainer" >
			<h3 class="productHeader">{{activeProduct.productSummary}}</h3>
			<div class="productImagesContainer">
				<div class="activeThumnailImage">
					<img ng-src="{{activeThumbnail}}"  class="productActiveImage">
				</div>
				<div class="thumbnails-container">
					<img ng-repeat="image in activeProduct.imagesCollection" ng-src="{{image}}" ng-mouseover="setActiveImage(image)" class="productThumnail">
				</div>
			</div>
			<div class="productInfoContainer">
			<div class="productCode">Product Code:  {{activeProduct.productId}}</div>
			<div class="productValue">Rs.  {{activeProduct.originalPrice| number}}</div>
			<div class="productDicount" ng-hide="activeProduct.discount =='0%'">Our Offer - {{activeProduct.discount}}</div>
			<div class="productDicount" ng-show="activeProduct.discount =='0%'">Sorry no discount on this product</div>
			<div>
		</div>
		<div class="col-sm-2">
		</div>
	</div>
</div>