<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<h4>Apply Filter:</h4>
			<div class="productsFilter">
				<ul>
					<li><label class="inputLabel"><input type="checkbox" name="gender"  ng-model="gender.men" />Men</label></li>
					<li><label class="inputLabel"><input type="checkbox" name="gender"  ng-model="gender.women" />Women</label></li>
				</ul>
				<ul class="categories filterSection expanded">
					<h4 class="subHeader">Categories:</h4>
					<li ng-repeat="category in filterCategories">
						<label class="inputLabel"><input type="checkbox" name="categories"  ng-model="category.dataBindingKey"/>{{category.value}}</label>
					</li>
				</ul>
				<ul class="brand filterSection expanded">
					<h4 class="subHeader">Brand:</h4>
					<li ng-repeat="brand in filterBrand">
						<label class="inputLabel"><input type="checkbox" name="brand" />{{brand}}</label>
					</li>
				</ul>
			</div>
		</div>
		
		 <div class="col-md-10">
			<div class="productsListContainer">
				<h4 class="subHeader">Number of products - {{(productsList | filter: query).length}} items</h4>
				<ul class="productsList">
					<li ng-repeat="product in filteredList = (productsList | genderFilter:gender:'gender' | genderFilter:category:'category' )">
						<a><img ng-src="{{product.imageUrl}}" ng-click="setImage(product.imageUrl)" class="productMainImage"></a>
						<div class="productBrandName">{{product.brand }}</div>
						<div class="productName">{{product.name }}</div>
						<div class="productPrice">Rs. {{product.discountedPrice }}</div>
					</li>
				</ul>
			</div>
		 </div>
	</div>
</div>


<!--<div class="phone-images">
  <img ng-src="{{img}}"
       class="phone"
       ng-repeat="img in phone.images"
       ng-class="{active: mainImageUrl==img}">
</div>

<h1>{{phone.name}}</h1>

<p>{{phone.description}}</p>

<ul class="phone-thumbs">
  <li ng-repeat="img in phone.images">
    <img ng-src="{{img}}" ng-click="setImage(img)">
  </li>
</ul>

<ul class="specs">
  <li>
    <span>Availability and Networks</span>
    <dl>
      <dt>Availability</dt>
      <dd ng-repeat="availability in phone.availability">{{availability}}</dd>
    </dl>
  </li>
  <li>
    <span>Battery</span>
    <dl>
      <dt>Type</dt>
      <dd>{{phone.battery.type}}</dd>
      <dt>Talk Time</dt>
      <dd>{{phone.battery.talkTime}}</dd>
      <dt>Standby time (max)</dt>
      <dd>{{phone.battery.standbyTime}}</dd>
    </dl>
  </li>
  <li>
    <span>Storage and Memory</span>
    <dl>
      <dt>RAM</dt>
      <dd>{{phone.storage.ram}}</dd>
      <dt>Internal Storage</dt>
      <dd>{{phone.storage.flash}}</dd>
    </dl>
  </li>
  <li>
    <span>Connectivity</span>
    <dl>
      <dt>Network Support</dt>
      <dd>{{phone.connectivity.cell}}</dd>
      <dt>WiFi</dt>
      <dd>{{phone.connectivity.wifi}}</dd>
      <dt>Bluetooth</dt>
      <dd>{{phone.connectivity.bluetooth}}</dd>
      <dt>Infrared</dt>
      <dd>{{phone.connectivity.infrared | checkmark}}</dd>
      <dt>GPS</dt>
      <dd>{{phone.connectivity.gps | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Android</span>
    <dl>
      <dt>OS Version</dt>
      <dd>{{phone.android.os}}</dd>
      <dt>UI</dt>
      <dd>{{phone.android.ui}}</dd>
    </dl>
  </li>
  <li>
    <span>Size and Weight</span>
    <dl>
      <dt>Dimensions</dt>
      <dd ng-repeat="dim in phone.sizeAndWeight.dimensions">{{dim}}</dd>
      <dt>Weight</dt>
      <dd>{{phone.sizeAndWeight.weight}}</dd>
    </dl>
  </li>
  <li>
    <span>Display</span>
    <dl>
      <dt>Screen size</dt>
      <dd>{{phone.display.screenSize}}</dd>
      <dt>Screen resolution</dt>
      <dd>{{phone.display.screenResolution}}</dd>
      <dt>Touch screen</dt>
      <dd>{{phone.display.touchScreen | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Hardware</span>
    <dl>
      <dt>CPU</dt>
      <dd>{{phone.hardware.cpu}}</dd>
      <dt>USB</dt>
      <dd>{{phone.hardware.usb}}</dd>
      <dt>Audio / headphone jack</dt>
      <dd>{{phone.hardware.audioJack}}</dd>
      <dt>FM Radio</dt>
      <dd>{{phone.hardware.fmRadio | checkmark}}</dd>
      <dt>Accelerometer</dt>
      <dd>{{phone.hardware.accelerometer | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Camera</span>
    <dl>
      <dt>Primary</dt>
      <dd>{{phone.camera.primary}}</dd>
      <dt>Features</dt>
      <dd>{{phone.camera.features.join(', ')}}</dd>
    </dl>
  </li>
  <li>
    <span>Additional Features</span>
    <dd>{{phone.additionalFeatures}}</dd>
  </li>
</ul>-->
